/*
	FJ Overrides of main.css
	 - Ensure you edit assets/tp-blog.css (rather than the generated version)

*/
h1 {
	color: #263c4c;
}
hr.fancy {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 255), rgba(0,0,0, 0.75), rgba(255, 0, 0, 0));	
}
h2 {
	color: #4E7C9E;
}
h3 {
	color: #6DAFE0;
}
.footnote {
	font-size: small;
	font-style: italic;
}

article pre {
	padding: 0;
	margin: 0;
}
.strike {
	text-decoration: line-through;
}
article .container>header,article .container>section,article .container>footer {
  margin: 0 4em
}
.g-chart {
	margin-top: 1em;	/* counters the [above] paragraph margin */
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border: solid 1px silver;
}

.sk-spinner {
	/* make it look more like the chart size when loading */
	margin-top: 4em !important;
	margin-bottom: 4em !important;	
}

.social {
	text-align: center;
}		
/* Fix for random facebook alignment issue */
.social .facebook {
	position: relative;
	top: -6px;
}

table {
	width: 100%;
	margin-bottom: 1em;
}
table th, table td {
	padding: 0.5em;
}

table tr {
	border-top: solid 1px silver;
}

table .col1, table td:nth-child(1) {
	border-right: solid 1px silver;
	width: 25%;
}
table .col2 {
	width: 75%;
} 

.beta {
	border: solid 2px #990000;
	border-radius: 10px;
	font-style: italic;
	padding: 1em;
	margin: 1em;
}

.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.ar { text-align: right; }